<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyMate</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .profile-placeholder {
            background-color: gray;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
        }
    </style>
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById('profilePhotoPreview');
                const placeholder = document.getElementById('profilePhotoPlaceholder');
                output.src = reader.result;
                output.style.display = 'block';
                if (placeholder) {
                    placeholder.style.display = 'none';
                }
                document.getElementById('submitButton').style.display = 'block';
            }
            reader.readAsDataURL(event.target.files[0]);
        }

        function showSubmitButton() {
            document.getElementById('submitButton').style.display = 'block';
        }
    </script>
</head>
<body class="bg-gray-100">
    <div class="area h-[162%] lg:h-full">
        <ul class="circles h-full">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="flex justify-center items-center h-screen">
        <div class="w-[80%] bg-blue-100 rounded p-5 lg:mt-0 mt-[70%]">
            <form method="POST" action="/profile" enctype="multipart/form-data">
                <div class="w-full flex justify-center items-center mb-4 gap-[2%]">
                    {% if profile_photo %}
                        <img src="{{ url_for('static', filename='images/profile_uploads/' + profile_photo) }}" class="rounded-full h-48 w-48 object-cover" alt="Profile Photo" id="profilePhotoPreview">
                    {% else %}
                        <div class="rounded-full h-48 w-48 profile-placeholder" id="profilePhotoPlaceholder"><p class="capitalize text-[100px] text-white">{{ username[0] }}</p></div>
                        <img id="profilePhotoPreview" class="rounded-full h-48 w-48 object-cover" style="display: none;"> 
                    {% endif %}
                    <label for="profile_photo" class="cursor-pointer">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </label>
                    <input type="file" id="profile_photo" name="profile_photo" class="hidden" accept="image/*" onchange="previewImage(event)">
                </div>
                <div class="flex lg:flex-row flex-col gap-20">
                    <div class="w-full lg:w-1/2">
                        <div>
                            <label class="block mb-2 text-blue-500" for="email">Email</label>
                            <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-full lg:w-[90%]" type="text" name="email" value="{{ email }}" disabled>
                            <a href="/change_email"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div>
                            <label class="block mb-2 text-blue-500" for="f_name">First Name</label>
                            <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-full lg:w-[90%]" type="text" name="f_name" value="{{ f_name }}" onchange="showSubmitButton()">
                        </div>
                        <div>
                            <label class="block mb-2 text-blue-500" for="l_name">Last Name</label>
                            <input class="p-2
                             text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-full lg:w-[90%]" type="text" name="l_name" value="{{ l_name }}" onchange="showSubmitButton()">
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div>
                            <label class="block mb-2 text-blue-500" for="current_password">Current Password</label>
                                <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-full lg:w-[90%]" type="password" value="{{ current_password }}" name="current_password" onchange="showSubmitButton()">
                        </div>
                        <div>
                            <label class="block mb-2 text-blue-500" for="new_password">New Password</label>
                            <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-full lg:w-[90%]" type="password" name="new_password" value="{{ new_password }}" onchange="showSubmitButton()">
                        </div>
                        <div>
                            <label class="block mb-2 text-blue-500" for="c_new_password">Confirm New Password</label>
                            <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-full lg:w-[90%]" type="password" name="c_new_password" value="{{ c_new_password }}" onchange="showSubmitButton()">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center mt-5">
                    <button class="lg:w-[20%] w-[80%] bg-blue-700 hover:bg-pink-700 text-white font-bold py-1 px-8 lg:py-2 lg:px-4 mb-6 rounded" type="submit" id="submitButton" style="display: none;">Submit Changes</button>
                    <a class="text-blue-700 hover:text-pink-700 text-sm float-left" href="/">Back to home</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a7ad42ee25.js" crossorigin="anonymous"></script>
</body>
</html>