<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyMate</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static\style.css">
</head>


<body class="bg-gray-100">
    <div class="area h-full">
        <ul class="circles h-full">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="flex justify-center items-center h-screen">
        <div class="w-[80%] bg-blue-100 rounded p-5">
            <div class="w-full flex justify-center items-center mb-4 gap-[2%]">
                <img src="static/images/test.jpg" class="rounded-full h-48 w-48 object-cover" alt="">
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <div class="flex gap-20">
                <div class="w-1/2">
                    <div>
                        <label class="block mb-2 text-blue-500" for="email">Email</label>
                        <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-[90%]"
                            type="text" name="Email" required>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div>
                        <label class="block mb-2 text-blue-500" for="username">First Name</label>
                        <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-[90%]"
                            type="text" name="f_name" required>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div>
                        <label class="block mb-2 text-blue-500" for="username">Last Name</label>
                        <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-[90%]"
                            type="text" name="l_name" required>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                </div>
                <div class="w-1/2">
                    <div>
                        <label class="block mb-2 text-blue-500" for="username">Current Password</label>
                        <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-[90%]"
                            type="password" name="current_password" required>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div>
                        <label class="block mb-2 text-blue-500" for="username">New Password</label>
                        <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-[90%]"
                            type="password" name="new_password" required>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div>
                        <label class="block mb-2 text-blue-500" for="username">Confirm New Password</label>
                        <input class="p-2 mb-6 text-blue-700 border-b-2 border-blue-500 outline-none focus:bg-gray-300 w-[90%]"
                            type="password" name="c_new_password" required>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-5">
                <button
                    class="w-[20%] bg-blue-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded"
                    type="submit">Submit Changes</button>
            </div>  
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a7ad42ee25.js" crossorigin="anonymous"></script>
</body>